<%- include('partials/header'); -%>

<header>
  <!-- <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div> -->
  <div class="headings">
    <h2>Node.js Authentication</h2>
    <h3> ~ By Shruti</h3>
    <a href="/smoothies" class="btn">View other Pages</a>
  </div>
</header>


<%- include('partials/footer'); -%>